
.toolbar{
  width: auto;
  height: 99px;
  display: grid;
  justify-content: center;
  background: linear-gradient(to right, rgb(72, 84, 107), rgb(55, 64, 100), rgb(40, 52, 87), rgb(39, 65, 95), rgb(33, 48, 85));
}

button{
  width: auto;
  height: 50px;
  cursor: pointer;
  margin: 20px 20px;
  font-size: 15px;
  padding: 8px;
  background-color: transparent;
  border: none;
  color: white;
  transition: all 0.5s;
  position: relative;
}
.bn{
  bottom: 5px;
}
button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
button:hover::before{
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
button::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
}
button:hover::after{
  opacity: 1;
  transform: scale(1,1);
}
