<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="toolbar">
  <div class="items">
    <button (click) = "machine()" class="bn">Machine</button>
    <button (click) = "queue()" class="bn">Queue</button>
    <button (click) = "connection()" class="bn">Connect</button>
    <button (click) = "start()"><i class="material-icons">play_arrow</i></button>
    <button (click) = "pause()"><i class="material-icons">pause</i></button>
    <button (click) = "replay()"><i class="material-icons">replay</i></button>
    <button (click) = "clear()">Items<i class="material-icons">clear</i></button>
    <button (click) = "deleteAll()"><i class="material-icons">deleteAll</i></button>
  </div>


</div>



